#header{
    color:darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
    font-weight: bold;
    background-color: blanchedalmond;
    
    
}

.list{

    color:mediumaquamarine
    background-color:burlywood;
}