#header{
    color:darkslategray;
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    text-align-last:left;
    font-weight: bold;
    background-color: blanchedalmond;
    font-size: 37px;
    
    
}

.body{
    background-image: papyrus-dark.png;
    background-color: #000;
}

.list{

    color:rgb(88, 100, 112);
    background-color:#f5edcd67;
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
    
}